<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a New Movie</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MovieReviewer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/addMovie">Add a New Movie</a></li>
                    <li><form th:action="@{/logout}" method="post"><input type="submit" class="btn btn-link logout-btn" value="Logout"/></form></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <h1>Add a new movie here!</h1>
        <form class="form-horizontal" action="/addMovie" method="post">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Film Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" id="title"/>
                </div>
            </div>
            <div class="form-group">
                <label for="genre" class="col-sm-2 control-label">Genres</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="genre" id="genre"/>
                </div>
            </div>
            <div class="form-group">
                <label for="imdblink" class="col-sm-2 control-label">IMDB Link</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="imdblink" id="imdblink"/>
                </div>
            </div>
            <div class="form-group">
                <label for="releasedate" class="col-sm-2 control-label">Release Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="releasedate" id="releasedate"/>
                </div>
            </div>
            <div class="form-group">
                <label for="imgurl" class="col-sm-2 control-label">Image Url</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="imgurl" id="imgurl"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-danger" value="Submit Movie"/>
                </div>
            </div>
        </form>
    </div>

    <!--scripts-->
    <script type="application/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>