<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
</head>
<body class="container">
    <nav>
        <span><a href="/">Home</a></span>
        <span><a href="/addMovie">Add a Movie</a></span>
    </nav>
    <h1>see all the details and reviews for this movie</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${movie.title}"></h3>
        </div>
        <div class="panel-body">
            <div th:text="${movie.genre}"></div>
            <div th:text="${movie.imdbLink}"></div>
            <div th:text="${movie.releaseDate}"></div>
            <a th:href="'/edit/' + @{${movie.id}}">Edit Movie</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Write a Review</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" th:action="'/movie/' + ${movie.id}">
                <!--<div class="form-group">-->
                    <!--<div class="col-sm-10">-->
                        <!--<input type="hidden" name="movieid" class="form-control" id="movieid" th:value="${movie.id}"/>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label for="reviewername" class="col-sm-2 control-label">Name*:</label>
                    <div class="col-sm-10">
                        <input type="text" name="reviewername" class="form-control" id="reviewername" />
                    </div>
                </div>
                <div class="form-group">
                    <p>Rating*:</p>
                    <label class="radio-inline">
                        <input type="radio" name="rating" id="onestar" value="1 star"/>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="rating" id="twostars" value="2 stars"/>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="rating" id="threestars" value="3 stars"/>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="rating" id="fourstars" value="4 stars"/>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="rating" id="fivestars" value="5 stars"/>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="reviewerage" class="col-sm-2 control-label">Age:</label>
                    <div class="col-sm-10">
                        <input type="text" name="reviewerage" class="form-control" id="reviewerage" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="reviewergender" class="col-sm-2 control-label">Gender:</label>
                    <div class="col-sm-10">
                        <input type="text" name="reviewergender" class="form-control" id="reviewergender" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="revieweroccupation" class="col-sm-2 control-label">Occupation:</label>
                    <div class="col-sm-10">
                        <input type="text" name="revieweroccupation" class="form-control" id="revieweroccupation" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Post Review</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--reviews-->
    <!--<ul>-->
        <!--<li th:each="review : ${movie.reviews}"></li>-->
    <!--</ul>-->
    <!--<div class="panel panel-default" th:each="review : ${movie.reviews}">-->
        <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title" th:text="${movie.title}"></h3>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
            <!--<div th:text="${movie.genre}"></div>-->
            <!--<div th:text="${movie.imdbLink}"></div>-->
            <!--<div th:text="${movie.releaseDate}"></div>-->
            <!--<a th:href="'/edit/' + @{${movie.id}}">Edit Movie</a>-->
        <!--</div>-->
    <!--</div>-->
</body>
</html>