<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Movie Reviews</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MovieReviewer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/addMovie">Add a New Movie</a></li>
                    <li><form th:action="@{/logout}" method="post"><input type="submit" class="btn btn-link logout-btn" value="Logout"/></form></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <!--detail of selected movie-->
        <div class="panel panel-danger panel-detail">
            <div class="panel-heading">
                <h3 class="panel-title panel-title-detail movie-title" th:text="${movie.title}"></h3>
                <a class="btn btn-default btn-sm edit-btn" th:href="'/edit/' + @{${movie.id}}">Edit Movie</a>
            </div>
            <div class="panel-body">
                <div class="movie-poster-detail">
                    <img th:src="${movie.imgurl}" alt="movie-poster"/>
                </div>
                <div class="movie-info-detail">
                    <div th:text="${movie.genre}"></div>
                    <div th:text="${movie.releaseDate}"></div>
                </div>
                <div class="list-group">
                    <a type="button" class="list-group-item imdb-link-detail" th:href="${movie.imdbLink}">Check it out on IMDB</a>
                </div>
            </div>
        </div>
        <hr/>

        <!--reviews-->
        <div class="container review" th:each="review : ${movie.reviews}">
            <div class="panel panel-warning panel-detail">
                <div class="panel-heading">
                    <h3 class="panel-title panel-title-detail">
                        <span th:text="${review.user.name}"></span>
                        ,
                        <span th:switch="${review.rating}">
                <span th:case="'5 stars'">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </span>
                <span th:case="'4 stars'">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </span>
                <span th:case="'3 stars'">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </span>
                <span th:case="'2 stars'">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </span>
                <span th:case="'1 star'">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </span>
            </span>
                    </h3>
                </div>
                <div class="panel-body">
                    <span th:if="${review.user.age}">Age:</span>
                    <span th:text="${review.user.age}"></span>
                    <span th:if="${review.user.age}">, </span>
                    <span th:if="${review.user.gender}">Gender:</span>
                    <span th:text="${review.user.gender}"></span>
                    <span th:if="${review.user.gender}">, </span>
                    <span th:if="${review.user.occupation}">Occupation:</span>
                    <span th:text="${review.user.occupation}"></span>
                </div>
            </div>
        </div>
        <hr/>

        <!--Write a review-->
        <div th:if="${user == null}" class="review-login-btn">
            <a href="/login" type="button" class="btn btn-danger btn-lg">Log in to leave a review!</a>
        </div>
        <div th:if="${user != null}">
            <div class="container write-review">
                <div class="panel panel-default panel-detail">
                    <div class="panel-heading">
                        <h3 class="panel-title panel-title-detail">Write a New Review</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" method="post" th:action="'/movie/' + ${movie.id}">
                            <div class="form-group">
                            <span>
                                <label for="stars-radio-group" class="rating-header">Rating*:</label>
                            </span>
                                <span class="stars-radio-group" id="stars-radio-group">
                                <label class="radio-inline">
                                    <input type="radio" name="rating" id="onestar" value="1 star"/>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="rating" id="twostars" value="2 stars"/>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="rating" id="threestars" value="3 stars"/>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="rating" id="fourstars" value="4 stars"/>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="rating" id="fivestars" value="5 stars"/>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </label>
                            </span>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Post Review</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--scripts-->
    <script type="application/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>