<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to Movie Reviewer</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
</head>
<body class="container">
    <nav>
        <span><a href="#">Home</a></span>
        <span><a href="addMovie.html">Add a Movie</a></span>
    </nav>
    <h1>Welcome to the movie reviewer</h1>
    <div th:each="movie : ${movies}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="${movie.title}"></h3>
            </div>
            <div class="panel-body">
                <div th:text="${movie.genre}"></div>
                <div th:text="${movie.imdbLink}"></div>
                <div th:text="${movie.releaseDate}"></div>
            </div>
        </div>
    </div>
</body>
</html>