<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body class="container">
    <h1>Log In</h1>
    <div style="color: red;" th:text="${error}"></div>
    <form th:action="@{/login}" th:object="${user}" method="post" class="form-inline">
        <input type="text" th:field="*{username}" class="form-control" placeholder="Username"/>
        <input type="password" th:field="*{password}" class="form-control" placeholder="Password"/>
        <input type="submit" class="btn btn-primary" value="Login!"/>
    </form>

    <!--scripts-->
    <script type="application/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>